@charset "UTF-8";

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  #header {
    padding: 20px 16px;
  }

  .toggle-btn {
    right: 20px;
    box-sizing: border-box;
  }

  .video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  ul {
    padding: 0;
  }

  #pickup {
    padding: 80px 0;
  }

  #pickup .slider li {
    padding: 0 20px;
  }

  #feature {
    padding: 80px 16px;
  }

  #feature .grid-area .item-content {
    padding: 16px;
  }

  #ontact {
    padding: 80px 0;
  }

  #contact .content {
    flex-direction: column;
  }

  #contact .contact-box {
    display: block;
  }

  #contact .contact-text,
  #contact .contact-form {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  #contact .contact-text br {
    display: none;
  }

  #contact .contact-form input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}
