@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-size: 0.9rem;
  color: #121212;
  line-height: 1.7;
  margin: 0;
}

a {
  color: #121212;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

header {
  width: 100%;
  display: flexbox;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.site-title {
  line-height: 1px;
}

.site-title a {
  display: block;
}

.section-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}

#navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 60px 25px;
  background-color: #121212;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}
#navi a {
  color: #fff;
}
.open #navi {
  left: 0;
  opacity: 1;
}
#navi ul {
  margin: 0;
  padding: 0;
}
#navi ul.navi-menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff;
}
#navi ul.navi-menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
}
#navi ul.navi-sns li {
  padding: 5px 0;
}

.toggle-btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}
.toggle-btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}
.toggle-btn span:nth-child(1) {
  top: 4px;
}
.toggle-btn span:nth-child(2) {
  top: 14px;
}
.toggle-btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle-btn span {
  background-color: #fff;
}
.open .toggle-btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle-btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
#mask {
  display: none;
  transition: all 0.5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

#main {
  padding-top: 80px;
}

#image-video {
  width: 100%;
}

#pickup {
  width: 100%;
  padding: 100px 0 50px 0;
}

#pickup img {
  width: 60vh;
  height: auto;
}

#pickup .slider {
  font-size: 0;
  margin: 0 auto;
  width: 94%;
}

.slider .slick-slide {
  transform: scale(0.8);
  transition: all 0.5s;
  opacity: 0.5;
}

.slider .slick-slide.slick-center {
  transform: scale(1);
  opacity: 1;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #121212;
}

.slick-dots .slick-active button {
  background: #121212;
}

#pickup .slider li {
  padding: 0 30px;
}

#feature {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;
}

#feature img {
  vertical-align: top;
  width: 100%;
  height: 257px;
}

#feature .grid-area {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0;
}

#feature .grid-area li {
  box-shadow: 0 0 9px 4px #ccc;
}

#feature .item-content {
  padding: 30px;
  transition: all 0.3s ease;
}

#feature .grid-title {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

#feature .grid-text {
  font-weight: bold;
  margin-bottom: 20px;
}

#feature .grid-date {
  font-size: 0.75rem;
  text-align: right;
}

#contact {
  color: #fff;
  background-color: #121212;
  padding: 50px 0;
}

#contact .section-title {
  color: #fff;
}

#contact .contact-box {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#contact .contact-text p {
  margin-bottom: 30px;
}

#contact .contact-text,
#contact .contact-form {
  width: 45%;
}

#contact .contact-form dd {
  margin: 0;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

#contact .contact-form .button input {
  width: 200px;
  color: #fff;
  background-color: #121212;
  border: solid 1px #fff;
  padding: 12px 0;
  margin-bottom: 0;
}

#contact .contact-form .button input:hover {
  color: #202020;
  background-color: #fff;
}

#footer {
  color: #fff;
  background-color: #121212;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}

#page-top {
  background: #fff;
  color: #121212;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
